.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--size);
  margin: var(--size) auto;
  width: 100%;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

main,
header {
  border-radius: var(--border-rad);
  box-shadow: var(--shadow);
  background-color: white;
  max-height: fit-content;
}

main > :first-child,
header > div:first-child {
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}

main > :first-child,
header h2 {
  background-color: var(--dark-color);
  color: var(--light-color);
}

header {
  > h2 {
    width: 100%;
  }

  > h2:first-child {
    border-radius: var(--border-rad) var(--border-rad) 0 0;
  }

  > h2:last-child {
    border-radius: 0 0 var(--border-rad) var(--border-rad);
  }
}

main {
  min-width: 70%;
  position: relative;
  overflow: hidden;
  word-break: break-all;

  > div {
    padding: var(--size);
  }

  > div:not(:nth-last-child(-n + 2)) {
    border-bottom: 2px solid var(--dark-color);
  }

  h1::after {
    content: "\00A0";
  }

  * {
    animation: highlight 1s ease-out;
  }
}

#button-pdf {
  position: absolute;
  bottom: -0.5vh;
  right: 0;
  height: max(5vw, 5vh);
  aspect-ratio: 1/1;
  padding: 0;

  > img {
    height: 100%;
  }
}

@keyframes highlight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  main,
  main *:not(#button-pdf > img) {
    visibility: visible;
  }
  main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
