.personal-info,
.educational-info,
.profesional-info {
  display: grid;
  grid-template: auto / 1fr;
  justify-items: center;
  text-align: center;
  row-gap: calc(0.5 * var(--size));
  animation: fadeIn 0.5s ease-out;

  > h2 {
    width: 100%;
  }

  > *:last-child {
    padding-bottom: var(--size);
  }
}

.personal-info > h2 {
  border-radius: var(--border-rad) var(--border-rad) 0 0;
}

.profesional-info > h2 {
  border-radius: 0 0 var(--border-rad) var(--border-rad);
}

.editor-buttons {
  margin-top: var(--size);
  display: flex;
  gap: var(--size);
  width: 60%;

  button {
    color: var(--light-color);
    background-color: var(--dark-color);
    border-radius: var(--border-rad);
    transition: background 0.5s ease;
    flex: 1;
  }

  button:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
    outline: 2px solid var(--dark-color);
    transition: background 0.5s ease;
  }
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    height: 0;
  }
  90% {
    visibility: none;
  }
  to {
    visibility: visible;
    height: fit-content;
  }
}
