:root {
  --light-color: #f5f8fc;
  --light-color-filt: brightness(0) saturate(100%) invert(92%) sepia(2%)
    saturate(1852%) hue-rotate(196deg) brightness(107%) contrast(97%);
  --dark-color: rgb(34, 49, 82);
  --dark-color-filt: brightness(0) saturate(100%) invert(13%) sepia(9%)
    saturate(5743%) hue-rotate(189deg) brightness(99%) contrast(86%);
  --accent-color-1: rgb(98, 125, 185);
  --accent-color-2: rgb(179, 192, 221);
  --shadow-color: rgb(169, 170, 172);
  --shadow-low: var(--shadow-color) 0 4px 2px -2px;
  --shadow:
    var(--shadow-color) 0 10px 15px -3px, var(--shadow-color) 0 4px 6px -2px,
    var(--shadow-color) 0 -10px 15px -3px;
  --background-color: white;

  --border-rad: 10px;
  --font:
    "Akaya Telivigala", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --size: clamp(0.8rem, 0.8rem + 0.4vw, 1.2rem);
  letter-spacing: 0.1em;
  line-height: 1.3em;

  font-size: var(--size);
  font-family: var(--font);
  color-scheme: light dark;
  color: var(--dark-color);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-color: rgb(34, 49, 82);
    --light-color-filt: brightness(0) saturate(100%) invert(13%) sepia(9%)
      saturate(5743%) hue-rotate(189deg) brightness(99%) contrast(86%);
    --dark-color: #f5f8fc;
    --dark-color-filt: brightness(0) saturate(100%) invert(92%) sepia(2%)
      saturate(1852%) hue-rotate(196deg) brightness(107%) contrast(97%);
    --accent-color-1: rgb(179, 192, 221);
    --accent-color-2: rgb(98, 125, 185);
    --shadow-color: rgb(169, 170, 172);
    --shadow-low: var(--shadow-color) 0 4px 2px -2px;
    --shadow:
      var(--shadow-color) 0 10px 15px -3px, var(--shadow-color) 0 4px 6px -2px,
      var(--shadow-color) 0 -10px 15px -3px;
    --background-color: transparent;
  }
}

@font-face {
  font-family: "Akaya";
  src:
    url("./assets/AkayaTelivigala-Regular.woff2") format("woff2"),
    url("./assets/AkayaTelivigala-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: var(--light-color);
  position: relative;
}

#root {
  width: min(90%, 1200px);
  margin: auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 800px) {
    justify-content: flex-start;
  }
}

h1,
h2,
h3 {
  font-weight: 800;
}

h1 {
  font-size: calc(3 * var(--size));
}

h2 {
  font-size: calc(2 * var(--size));
}

h3 {
  font-size: calc(1.5 * var(--size));
}

button:hover {
  cursor: pointer;
}

button {
  color: var(--light-color);
}

label {
  width: 90%;
}

img[src*="svg"] {
  filter: var(--dark-color-filt);
  transition: transform 0.2s ease-in;
}

img[src*="svg"]:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}

textarea {
  max-height: 200px;
  resize: vertical;
  scrollbar-width: none;
}

input,
textarea {
  background-color: var(--background-color);
  color: var(--dark-color);
  width: 80%;
  /* max-height: 1.5rem; */
  border-radius: var(--border-rad);
  border: 1px solid var(--dark-color);
  padding: 0 calc(0.5 * var(--size));
  text-align: center;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--dark-color);
  background-color: var(--light-color);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--light-color) !important;
}

.react-datepicker__header {
  background-color: var(--dark-color) !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--dark-color) !important;
}

.react-datepicker__day-name:hover,
.react-datepicker__day:hover,
.react-datepicker__time-name:hover {
  color: var(--light-color) !important;
  background-color: var(--dark-color) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
  border: 1px solid var(--dark-color) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.react-datepicker__current-month {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

.react-datepicker__header {
  background-color: var(--light-color) !important;
  color: var(--dark-color) !important;
}

.react-datepicker {
  background-color: var(--light-color) !important;
}

.react-datepicker__input-container > input {
  max-width: 100%;
}

#button-start {
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: var(--border-rad);
  font-size: calc(2 * var(--size));
  padding: 0 var(--size);
  margin-top: var(--size);
}

#button-start:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  outline: 0.1em solid var(--dark-color);
}

#button-github {
  background: var(--light-color);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  height: max(5vw, 5vh);
  max-height: 60px;
  aspect-ratio: 1/1;
  padding: 0;

  > img {
    height: 100%;
  }
}

.slideOut {
  animation: slideOut 1s ease-in forwards;
}

@keyframes slideOut {
  to {
    transform: translateY(1200px);
  }
}
